<nav class="navbar navbar-expand-lg navbar-light main-header position-sticky">
  <a class="navbar-brand" href="#">
    <img class="main-header__logo" src="assets/img/logo_insta_kit.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#" (click)="onSelect('recipe')" >Recetas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="onSelect('shopping-list')">Lista de compras</a>
      </li>
    </ul>

    <div class="dropdown float-right">
      <a class="nav-link dropdown-toggle" appDropdown #r="appDropDown" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administrar Recetas
      </a>
      <div class="dropdown-menu" [ngClass]="{'show':r.isOpen}" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
      </div>
    </div>
  </div>
</nav>
