<nav class="navbar navbar-expand-lg navbar-light main-header position-sticky">
  <a class="navbar-brand" href="#">
    <img class="main-header__logo" src="assets/img/logo_insta_kit.png" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLinkActive="active"  routerLink="/recipes" >Recetas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLinkActive="active"  routerLink="/auth" >Autenticar </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" routerLink="/shopping-list" >Lista de compras</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" style="cursor: pointer;" (click)="onSaveData()" >Salvar Datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" *ngIf="isAuthenticated" style="cursor: pointer;" (click)="onFetchData()" >Extraer Datos</a>
      </li>
      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" style="cursor: pointer;" (click)="onLogout()" >Log Out</a>
      </li>
    </ul>

  </div>
</nav>
