<div class="row recipe-detail">
  <div class="col-12">
    <img src="{{recipe.image}}" alt="" class="img-fluid recipe-detail__img">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2> {{ recipe.nombre }} </h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown" appDropdown #r="appDropDown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administrar Receta
      </button>
      <div class="dropdown-menu" [ngClass]="{'show':r.isOpen}" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Ir a lista de Ingredientes</a>
        <a class="dropdown-item" href="#">Editar Receta</a>
        <a class="dropdown-item" href="#">Eliminar Receta</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p> {{recipe.descripcion}}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredientes
  </div>
</div>
