<div class="row">
  <div class="col-12">
    <img src="" alt="" class="img-fluid">
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h2>Nombre de La Receta</h2>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Administrar Receta
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Ir a lista de Ingredientes</a>
        <a class="dropdown-item" href="#">Editar Receta</a>
        <a class="dropdown-item" href="#">Eliminar Receta</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p> Descripcion de la Receta</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    Ingredientes
  </div>
</div>
